.button-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .button-list button {
    border: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .button-list button.active {
    background-color: #eaeaea;
  }

  .category-buttons {
    display: flex;
    gap: 10px;
  }
  
  