.button-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .button-list button {
    border: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .button-list button.active {
    background-color: #eaeaea;
  }
  
  .category-buttons {
    display: flex;
    gap: 10px;
  }
  
  .itemlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-rows: min-content;
  }
  
  @media (min-width: 768px) {
    .itemlist-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  .itemlist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .itemlist-container .item {
    flex: 1 0 250px;
  }
  
