/* .cart {
  display: flex;
  
  background-color: black;
  width: 3%;
  height: 10px;
  
  top: 2%;
  right: 0;
}
 */

 .CartWidgetWrapper {
  display: flex;
  justify-content: flex-end;
}

.CartWidgetItems {
  display: flex;
  align-items: center;
}

.CartQuantity {
  margin-right: 5px;
}

.CartImg {
  width: 20px;
  height: 20px;
}
