.contact_form {
    width: 80%;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #153462;
    padding-left: 30px;
  }
  
  input {
    background-color: white;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #368ff5;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  
  textarea {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #2C74B3;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  
  label {
    display: block;
    float: center;
    color: #fff;
  }
  
  button {
    height: 80%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: white;
    border-color: #44a1f3;
    border-style: solid;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
  }
  
  button p {
    color: #3E6D9C;
  }
  
  span {
    color: #3E6D9C;
  }
  
  .aviso {
    font-size: 13px;
    color: white;
  }
  
  h1 {
    font-size: 39px;
    text-align:center;
    padding-bottom: 20px;
    color: #3E6D9C;
  }
  
  h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: white;
  }
  
  p {
    font-size: 14px;
    color: white;
  }
  
  ::-webkit-input-placeholder {
    color: #a8a8a8;
  }
  
  ::-webkit-textarea-placeholder {
    color: #fff;
  }
  
  .formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
  
  .formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
  }

  
.texto__ubicacion {
    display: flex;
    font-size: 2rem;
    color: #1C315E;
    justify-content: center;
  }
  
  .mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }