.presentacionCss {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left, #509593, #3E6D9C);/* background-color: #3E6D9C; */
  }

/*   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #3E6D9C; */
  
  .perros_y_gatos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px; /* Altere o valor conforme necessário */
    height: auto; /* A altura será ajustada proporcionalmente */
    object-fit: contain;
  }
  
  
  
  .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
  