.presentacionCss {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to left, #509593, #3E6D9C);
  /* background-color: #3E6D9C; */
  font-size: 30px;
}

.perros_y_gatos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  height: auto;
  object-fit: contain;
}

.texto p {
  font-size: 30px; /* Altere o tamanho das letras conforme necessário */
  text-align: center;
  padding: 20px;
}
