.header {
    text-align: center;
  }
  
  .header-title {
    margin: 0;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-right: 10px; /* Espaçamento entre a imagem e o ícone de contato */
  }
  
  .contacto-container {
    display: flex;
    align-items: center;
  }
  
  .contacto-icon {
    margin-right: 5px; /* Espaçamento entre o ícone de contato e o texto */
  }
  
  .contacto-text {
    text-decoration: none;
    color: #333;
    font-size: 16px; /* Ajuste o tamanho da fonte para o texto de contato */
  }
  