.estilosDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; 
}

.nameD {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descr {
  font-size: 15px;

  margin-bottom: 10px;
}

.precio {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}



.estilosDetail {
  max-width: 400px; 
  margin: 0 auto; 
 
}
