.estilos {
  flex-direction: row;
  cheight: 80%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: white;
  border-color: #44a1f3;
  border-style: solid;
  border-radius: 10px;
  width: 80%;
  cursor: pointer;

  }
  